{% extends 'base.html.twig' %}
{% block title  %}
    Главная
{% endblock title %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <h2>Последние статьи нашего блога</h2><a class="btn btn-primary" href="{{ path('add_post')}}">Добавить пост</a>
                {# @var post \App\Entity\Post  #}
                {% for post in lastPosts %}
                    <h3><a href="{{ path('post_show',  {'id': post.id}) }}">{{ post.topic }}</a></h3>
                    <u>Дата публикации:</u> {{ post.datepost|date("m-d-Y") }}
                    <hr>
                    {{ post.shorts|raw }}
                    <hr>
                    <u>Комментариев:</u> {{ post.comments.count }}  <a href="{{ path('post_show',  {'id': post.id}) }}">Читать далее</a>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}